@import url("https://fonts.googleapis.com/css2?family=Revalia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 80vh;
  width: 100vw;
  text-align: center;
}
article {
  background-color: aqua;
  width: 10px;
}

.tarjeta {
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Revalia", cursive;
  font-size: 1.6rem;
  height: 20vh;
  transition: 3s;
}

.tarjeta:hover {
  transition: 3s;
  height: 80vh;
}

.menuSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 0px;
}

.tarjeta1 {
  background-image: url(../img/batman.jpg);
  color: rgba(0, 0, 0, 0.801);
  background-position: 25% 10%;
}

.tarjeta2 {
  background-image: url(https://www.xtrafondos.com/wallpapers/capa-de-superman-5506.jpg);
  background-position: 25% 20%;
  font-family: "Anton", sans-serif;
  letter-spacing: 8px;
  color: rgba(7, 179, 247, 0.719);
}

.tarjeta3 {
  background-image: url(../img/ww.jpg);
  background-position: 25% 65%;
  color: rgba(247, 95, 7, 0.664);
}

ul {
  margin-top: 40px;
  opacity: 0;
  height: 300px;
}

.tarjeta1 a {
  color: rgba(233, 212, 212, 0.623);
  text-decoration: none;
}

.tarjeta2 a {
  color: rgba(7, 179, 247, 0.719);
  text-decoration: none;
}

.tarjeta3 a {
  color: rgba(247, 95, 7, 0.377);
  text-decoration: none;
}

li {
  padding: 10px;
  width: 300px;
  font-size: 3vh;
  transition: 1s;
  list-style: none;
}

li:hover {
  transition: 1s;
  font-size: 5.5vh;
}

.muestra {
  animation-duration: 4s;
  animation-name: slidein;
  opacity: 1;
}

@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
