@import url("https://fonts.googleapis.com/css2?family=Revalia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  margin: 1px 0 0 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 80vh;
  width: 100vw;
  text-align: center;
}

.tarjeta {
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.6rem;
  height: 20vh;
  transition: 3s;
}

.tarjeta:hover {
  transition: 3s;
  height: 80vh;
}

.tarjeta h2 {
  opacity: 0.5;
}
.tarjeta:hover h2 {
  opacity: 1;
}

.menuSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 0px;
}

ul {
  display: flex;
  flex-direction: column;
}

.tarjeta:hover li {
  font-size: 1.7rem;
  margin-top: 20px;
}

.menu,
.menu2,
.menu3 {
  transition: 5s;
  margin-top: 40px;
  opacity: 0;
  height: 60px;
  animation-duration: 4s;
  animation-name: slideout;
}

li {
  padding: 10px;
  width: 300px;
  font-size: 5px;
  transition: 1s;
  list-style: none;
}

.tarjeta a:hover {
  color: white;
}

.tarjeta1 {
  background-image: url(../img/batman.jpg);
  color: rgba(0, 0, 0, 0.801);
  background-position: 25% 10%;
  font-family: "Revalia", cursive;
}

.tarjeta1 a {
  color: rgba(233, 212, 212, 0.623);
  text-decoration: none;
}

.tarjeta2 {
  background-image: url(https://www.xtrafondos.com/wallpapers/capa-de-superman-5506.jpg);
  background-position: 25% 20%;
  font-family: "Anton", sans-serif;
  letter-spacing: 8px;
  color: rgba(7, 179, 247, 0.719);
}

.tarjeta2 a {
  color: rgba(7, 179, 247, 0.719);
  text-decoration: none;
}

.tarjeta3 {
  background-image: url(../img/ww.jpg);
  background-position: 25% 65%;
  color: rgba(247, 95, 7, 0.664);
}

.tarjeta3 a {
  color: rgba(247, 95, 7, 0.815);
  text-decoration: none;
}
.peliculasIMG {
  width: 150px;
  opacity: 0;
}

.muestra {
  animation-duration: 4s;
  animation-name: slidein !important;
  opacity: 1;
  font-size: 18px;
}

.muestraPeliculas {
  transition: 4s;
  transform: translateX(-200px);
}

.linea {
  display: flex;
  flex-direction: row;
}
@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes slideout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
